spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  application:
    name: tc-book-be
  config:
    import: "optional:classpath:application-local.yml"
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  jwt:
    secret: ${JWT_SECRET}
    expire: 86400000 # 1 day
    refresh: ${JWT_REFRESH_SECRET}
    expire-refrest: 2592000000 # 30 days

  devtools:
    restart:
      enabled: false
  mvc:
    async:
      request-timeout: 600000 # 10 minutes

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

server:
  port: 8080
  connection-timeout: 600000 # 10 minutes
  servlet:
    context-path: /api/v1
